<!DOCTYPE html>
<html>
<head>
    <title>Math Facts</title>
</head>

<body>
  <h3> Math Facts</h3>
  <div>
    <p>
      You have chosen to learn about the number <%= number %>.
    </p>
    <p>
      <%= number %> degree(s) Fahrenheit is equivalent to <%= (number - 32) * (5/9) %> degree(s) Celsisus.
    </p>
    <p>
        <%= number %> centimeter(s) is equivalent to <%= (number/ 91.44) %> yard(s).
    </p>
    <p>
        <%= number %> tablespoon(s) is equivalent to <%= (number/ 67.628) %> liter(s).
    </p>
  </div>
</body>
</html>